body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dotFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.slider {
  animation: slide 2s ease-in-out forwards;
}

.dot {
  animation: dotFade 2s ease-in-out infinite;
}

.ant-input {
  background-color: #f0f3f6;
}
.ant-input:hover,
.ant-input:focus,
.ant-input:active {
  background-color: #ffffff;
}
.ant-rate {
  font-size: 14px;
}
.ant-rate-star {
  color: #a68877 !important;
}

.ant-tabs {
  width: 100%;
  z-index: 50;
}
.ant-tabs-nav {
  border: none;
  margin: 0;
  background-color: white;
  border: none;
}
.ant-tabs-top > .ant-tabs-nav:before {
  border: none;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  color: #111111;
}
.ant-tabs-tab {
  padding: 12px 24px 12px 24px;
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  color: #111111;
}
.ant-tabs-tab:hover {
  color: #1a1919;
}
.ant-tabs-tab-btn {
  font-size: 12px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: #111111;
}
.ant-tabs-tab-btn:hover {
  color: #1a1919;
}
.ant-tabs-ink-bar {
  border-radius: 5px;
  background: #adb3bc;
}

.common-modal-out-bg-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 62;
}
