body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes dotFade {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.slider {
  animation: slide 2s ease-in-out forwards;
}

.dot {
  animation: dotFade 2s ease-in-out infinite;
}

.ant-input {
  background-color: #f0f3f6;
}
.ant-input:hover,
.ant-input:focus,
.ant-input:active {
  background-color: #ffffff;
}
.ant-rate {
  font-size: 14px;
}
.ant-rate-star {
  color: #a68877 !important;
}
